<form [formGroup]="fgTable">
  <mat-form-field>
    <input matInput formControlName="description" placeholder="Descrição">
  </mat-form-field>

  <mat-form-field>
    <!-- <textarea matInput placeholder="Textarea"></textarea> -->
    <input matInput formControlName="numberAlias" placeholder="Número da mesa">
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="status" [(ngModel)]="status" placeholder="Status">
      <mat-option value="true">Livre</mat-option>
      <mat-option value="false">Ocupado</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button color="primary" (click)="onSendClick(fgTable)">Enviar</button>
  <button mat-button color="wanr" (click)="onNoClick()">Cancelar</button>

</form>